﻿@model  Web.Models.ContatoModel
@{
    ViewBag.Title = "Incluir";
}

<h2>Incluir Contato</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <h3>Telefones</h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Número
                            </th>
                            <th>
                                Tipo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.EditorFor(model => model.Telefone1.Numero, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                @Html.DropDownListFor(model => model.Telefone1.IdClassificacao, new SelectList(ViewBag.Classificacoes, "Id", "Descricao"), new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.EditorFor(model => model.Telefone2.Numero, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                @Html.DropDownListFor(model => model.Telefone2.IdClassificacao, new SelectList(ViewBag.Classificacoes, "Id", "Descricao"), new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.EditorFor(model => model.Telefone3.Numero, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                @Html.DropDownListFor(model => model.Telefone3.IdClassificacao, new SelectList(ViewBag.Classificacoes, "Id", "Descricao"), new { @class = "form-control" })
                            </td>
                        </tr>

                    </tbody>
                </table>
                <h3>Emails</h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                E-mail
                            </th>
                            <th>
                                Tipo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.EditorFor(model => model.Email1.Endereco, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                @Html.DropDownListFor(model => model.Email1.IdClassificacao, new SelectList(ViewBag.Classificacoes, "Id", "Descricao"), new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.EditorFor(model => model.Email2.Endereco, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                @Html.DropDownListFor(model => model.Email2.IdClassificacao, new SelectList(ViewBag.Classificacoes, "Id", "Descricao"), new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.EditorFor(model => model.Email3.Endereco, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>
                                @Html.DropDownListFor(model => model.Email3.IdClassificacao, new SelectList(ViewBag.Classificacoes, "Id", "Descricao"), new { @class = "form-control" })
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" formaction="Gravar" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
<script src="~/Scripts/jquery.validate.min.js" />
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" />
