﻿@model List<Web.Models.ListaContatoModel>
@{
    ViewBag.Title = "Index";
}


<h2>Contatos</h2>
<input type="text" id="txtPesquisar" onkeyup="pesquisar()" placeholder="Pesquisar" class="form-control">
<table class="table" id="tblContatos">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contato in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(contato.Nome, "Visualizar", new { id = contato.Id })
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = contato.Id }, new { @class = "btn btn-success btn-sm" })
                    <button type="button" class="btn-link btn btn-secondary btn-sm" data-item="@contato.Id">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Adicionar Contato", "Incluir")
</p>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-link").click(function () {
                var id = $(this).attr('data-item');
                if (confirm("Deseja Remover este contato?")) {
                    $.ajax({
                        method: "POST",
                        url: "/Contato/Deletar/" + id,
                        success: function (data) {
                            $("#tblContatos tbody > tr").remove();
                            $.each(data, function (i, contato) {
                                $("#tblContatos tbody").append(
                                    "<tr>" +
                                    "   <td><a href='/Contato/Visualizar/'" + contato.Id + " >" + contato.Nome + "</a></td>" +
                                    "   <td>" +
                                    "       <a href='/Contato/Editar/" + contato.Id + "' class='btn btn-success btn-sm'>Editar</a>" +
                                    "       <button type=\"button\" class=\"btn-link btn btn-secondary btn-sm\" data-item=\"" + contato.Id + "\">Excluir</button>" +
                                    "   </td>" +
                                    "</tr>"
                                );
                            });
                        },
                        error: function (data) {
                            alert("Houve um erro na pesquisa.");
                        }
                    });
                }
            });
        });


        function pesquisar() {
            // Declare variables 
            var input, filter, table, tr, td, i;
            input = document.getElementById("txtPesquisar");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblContatos");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}

