﻿@model  Web.Models.ContatoModel
@{
    ViewBag.Title = "Visualizar";
}

<h2>@Model.Nome</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>
    <div class="container">
        <h3>Contatos</h3>
        <ul class="list-group">
            @foreach (var telefone in Model.Telefones)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @telefone.Numero
                    <span class="badge badge-pill badge-primary">@telefone.Classificacao.Descricao</span>
                </li>
            }
        </ul>

        <ul class="list-group">
            @foreach (var email in Model.Emails)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @email.Endereco
                    <span class="badge badge-pill badge-primary">@email.Classificacao.Descricao</span>
                </li>
            }
        </ul>
    </div>


}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
<script src="~/Scripts/jquery.validate.min.js" />
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" />
